{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, eaque commodi, assumenda praesentium quos dolores dolor, vel error nulla sequi impedit alias saepe placeat minima ut harum vitae iure ducimus? Mollitia cupiditate, iste molestiae delectus fuga blanditiis magnam sequi eveniet error distinctio officia dolores nam ea expedita at. Itaque, unde, est eligendi amet fuga obcaecati deserunt quae accusamus repellat natus eaque quod, possimus consequuntur dolor incidunt vel! Temporibus distinctio dolores, quod excepturi ad libero blanditiis exercitationem provident? Doloremque rem at officiis incidunt architecto distinctio impedit delectus neque adipisci in aut doloribus modi voluptatibus tempora odio, consequuntur nemo ullam. Doloremque, soluta!</p>
{% endblock %}